<% if @flatmate_group.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@flatmate_group.errors.count, "error") %> </h2>

    <ul>
      <% @flatmate_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
