<h1>Editing Flatmate Group</h1>

<%= render 'form' %>

<%= link_to 'Show', @flatmate_group %> |
<%= link_to 'Back', flatmate_groups_path %> |
<%= link_to 'Destroy', @flatmate_group, method: :delete, data: { confirm: 'Are you sure?' } %>
